<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<th:block th:replace="~{/../fragments/head :: head('Reprodutor')}"></th:block>
<body>
    <th:block th:replace="~{/../fragments/head :: navbar}"></th:block>

    <div class="container col-10 mt-5">
        <div class="mb-5 mt-5">
            <div class="display-1 text-center">Reprodutor</div>
        </div>
        <div class="mb-5 mt-5">
            <div class="display-2 text-center" id="diaDaSemana">DIA</div>
            <div class="display-2 text-center" id="relogio">00:00:00</div>
        </div>
        <div class="mb-5 mt-5">
            <div class="display-4 text-center">
                <a class="btn btn-primary" th:href="@{/reprodutor/anterior}" role="button"><i class="fa-solid fa-backward"></i></a>
                <a class="btn btn-danger" th:href="@{/reprodutor/parar}" role="button"><i class="fa-solid fa-stop"></i></a>
                <a class="btn btn-success" th:href="@{/reprodutor/tocar}" role="button"><i class="fa-solid fa-play"></i></a>
                <a class="btn btn-primary" th:href="@{/reprodutor/proxima}" role="button"><i class="fa-solid fa-forward"></i></a>
            </div>
        </div>
        <div class="mb-5 mt-5">
            <h1 class="mb-5 text-center">Previsão dos Próximos Alarmes</h1>
            <div th:if="${#lists.isEmpty(alarmeList)}">
                <p class="text-center">Não há mais alarmes para hoje.</p>
            </div>
            <div th:if="${not #lists.isEmpty(alarmeList)}">
                <div class="table-responsive">
                    <table border='1' class="col table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="col-1">ID</th>
                            <th>Horário</th>
                            <th>Dias</th>
                            <th>Etiqueta</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="alarme : ${alarmeList}">
                            <td th:text="${alarme.idAlarme}"></td>
                            <td th:text="${alarme.horarioProgramado}"></td>
                            <td th:text="${alarme.diasSemana}"></td>
                            <td th:text="${alarme.etiqueta.nome + ' (' + alarme.etiqueta.duracao + ' min)'}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<!--    <th:block th:replace="~{/../fragments/footer :: footer}"></th:block>-->
</body>
<script>    
    function atualizarRelogio() {
        // Array com os dias da semana por extenso
        const diasDaSemana = ["Domingo", "Segunda-feira", "Terça-feira", "Quarta-feira", "Quinta-feira", "Sexta-feira", "Sábado"];

        const agora = new Date();
        const diaDaSemana = diasDaSemana[agora.getDay()]; // getDay() retorna 0-6
        const horas = String(agora.getHours()).padStart(2, '0');
        const minutos = String(agora.getMinutes()).padStart(2, '0');
        const segundos = String(agora.getSeconds()).padStart(2, '0');

        const tempoFormatado = `${horas}:${minutos}:${segundos}`;

        // Atualiza os elementos no HTML
        document.getElementById('diaDaSemana').textContent = diaDaSemana;
        document.getElementById('relogio').textContent = tempoFormatado;
    }

    setInterval(atualizarRelogio, 1000);
    atualizarRelogio(); // Executa a função imediatamente
</script>
</html>